@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }

  :focus-visible {
    @apply outline-2 outline-offset-2 outline-brand-500;
  }
}
